:root {
    --pst-color-primary-new: darkgreen;
}

li.toctree-l1 {
	list-style: none !important;
}

li.toctree-l1 a {
	text-decoration: none !important;
}

main div.bd-article-container p a.reference.internal {
	text-decoration: none !important;
}

main div.bd-article-container p a.reference.internal:not(.download)::after {
	content: "°" !important;
}

main div.bd-article-container p a.reference.external:not(.download)::after {
	content: "⭎" !important;
}

main div.bd-article-container p a.reference.external {
	font-weight: bold !important;
	text-decoration: none !important;
}

